<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../styles/main/main.css">
</head>

<body>
    <!-- Login form start -->
    <div class="app-generic-wrapper">

        <div class="app-generic-wrapper__aside-left">

        </div>
        <div class="app-generic-wrapper__aside-right">
            <div class="app-generic-wrapper__form">
                <div class="mobile-center">
                    <img src="../../assets/images/logo.svg" class="logo logo-mobile-space" alt="Liquid8te">
                </div>
                <div class="app-generic-wrapper__form--title">
                    Wholesale buyers competing to buy the things you want to sell now.
                </div>
                <!-- container for holding the input fields and buttons -->
                <div class="app-generic-wrapper__form--inputs">
                    <div class="control">
                        <input type="text" class="form-control text-center input-padding" placeholder="Email">
                    </div>
                    <div class="control mt-3">
                        <input type="password" class="form-control text-center input-padding" placeholder="Password">
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                            <label class="form-check-label text-light" for="rememberMe">
                                <small>Remember me</small>
                            </label>
                        </div>
                        <span>
                            <small>
                                <a href="" class="text-light">Forget Password?</a>
                            </small>
                        </span>
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-secondary mb-2 input-padding mt-4" type="button">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Login form end -->

</body>

</html>