<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Buyer</title>
    <link rel="stylesheet" href="../../icons/css/all.min.css">
    <link rel="stylesheet" href="../../icons/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../styles/main/main.css">


</head>

<body>
    <!-- Login form start -->
    <div class="app-generic-wrapper">

        <div class="app-generic-wrapper__aside-left">

        </div>
        <div class="app-generic-wrapper__aside-right flex-column">
            <div class="app-generic-wrapper__aside-right--header">
                <div class="mobile-center">
                    <img src="../../assets/images/logo.svg" class="logo" alt="">
                </div>
                <h3 class="text-light fs-5 mt-4">Buyer registration</h3>
                <p class="text-light">Please fill the following form with your up to date information.</p>
            </div>
            <div class="app-generic-wrapper__aside-right--body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <h3 class="fs-6 mb-4">
                                        Personal Information
                                    </h3>
                                    <div class="control">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="First Name *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Last Name *">
                                    </div>
                                    <small class="text-primary mt-4 d-block">
                                        * This number will be used for SMS alerts
                                    </small>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Cell Phone *">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="fs-6 mt-mobile">
                                    Please select the product categories you are most interested in:
                                </h3>
                                <p class="fs-medium text-black-60 mb-4 d-block">
                                    You will get notifications when a new item is added to any one of your selected
                                    categories.
                                </p>
                                <div class="mt-4">
                                    <select class="form-select input-padding-small mb-3"
                                        aria-label=".form-select-lg example">
                                        <option selected>Motorized Vehicles</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <select class="form-select input-padding-small mb-3"
                                        aria-label=".form-select-lg example">
                                        <option selected>Jewelry & Watches</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <select class="form-select input-padding-small mb-3"
                                        aria-label=".form-select-lg example">
                                        <option selected>Collectibles & Arts</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-space"></div>
                                <div class="mt-4">
                                    <h3 class="fs-6 mb-4">
                                        Business information
                                    </h3>
                                    <div class="control">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Business name (DBA) *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Legal name *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="EIN or TIN *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Dealer number *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Business address *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Phone number *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Website *">
                                    </div>
                                </div>
                                <div class="form-space"></div>
                                <div class="mt-4">
                                    <h3 class="fs-6 mb-4">
                                        Liquid8te profile
                                    </h3>
                                    <div class="control">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Email *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="password" class="form-control input-padding-small"
                                            placeholder="Password">
                                        <i class="icon"><i class="fa fa-eye"></i></i>
                                    </div>
                                    <div class="control mt-3">
                                        <input type="password" class="form-control input-padding-small"
                                            placeholder="Confirm password">
                                        <i class="icon"><i class="fa fa-eye"></i></i>
                                    </div>
                                </div>
                                <P class="mt-4 d-none d-sm-block">
                                    By registering up, you agree to the <a href="">Terms of Service</a> and <a
                                        href="">Privacy
                                        Policy</a>,
                                    including <a href="">Cookie
                                        Use</a>.
                                </P>
                                <div class="d-grid gap-2 mt-4">
                                    <button class="btn btn-secondary mb-2 input-padding mt-4" type="button">
                                        Register
                                    </button>
                                </div>
                                <p class="mt-4 fs-small text-center d-block d-sm-none">
                                    By registering up, you agree to the <a href="">Terms of Service</a> and <a
                                        href="">Privacy
                                        Policy</a>,
                                    including <a href="">Cookie
                                        Use</a>.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Login form end -->

</body>

</html>