<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Seller</title>
    <link rel="stylesheet" href="../../icons/all.min.css">
    <link rel="stylesheet" href="../../icons/fontawesome.min.css">
    <link rel="stylesheet" href="../../styles/main/main.css">


</head>

<body>
    <!-- Login form start -->
    <div class="app-generic-wrapper">

        <div class="app-generic-wrapper__aside-left">

        </div>
        <div class="app-generic-wrapper__aside-right flex-column">
            <div class="app-generic-wrapper__aside-right--header">
                <div class="mobile-center">
                    <img src="../../assets/images/logo.svg" class="logo" alt="">
                </div>
                <h3 class="text-light fs-5 mt-4">Sellers registration</h3>
                <p class="text-light">Please fill the following form with your up to date information.</p>
            </div>
            <div class="app-generic-wrapper__aside-right--body h-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <h3 class="fs-6 mb-4">
                                        Personal Information
                                    </h3>
                                    <div class="control">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="First Name *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Last Name *">
                                    </div>
                                    <small class="text-primary mt-4 d-block">
                                        * This number will be used for SMS alerts
                                    </small>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Cell Phone *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Address *">
                                    </div>
                                </div>
                                <div class="form-space"></div>
                                <div class="mt-4">
                                    <h3 class="fs-6 mb-4 mt-4 d-block">
                                        Liquid8te profile
                                    </h3>
                                    <div class="control">
                                        <input type="text" class="form-control input-padding-small"
                                            placeholder="Email *">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="password" class="form-control input-padding-small"
                                            placeholder="Password">
                                    </div>
                                    <div class="control mt-3">
                                        <input type="password" class="form-control input-padding-small"
                                            placeholder="Confirm password">
                                        <i class="icon"><i class="fa-solid fa-user"></i></i>
                                    </div>
                                </div>
                                <p class="mt-4 d-none d-sm-block">
                                    By registering up, you agree to the <a href="">Terms of Service</a> and <a
                                        href="">Privacy
                                        Policy</a>,
                                    including <a href="">Cookie
                                        Use</a>.
                                </p>
                                <div class="d-grid gap-2 mt-4">
                                    <button class="btn btn-secondary mb-2 input-padding mt-4" type="button">
                                        Register
                                    </button>
                                </div>
                                <p class="mt-4 fs-small text-center d-block d-sm-none">
                                    By registering up, you agree to the <a href="">Terms of Service</a> and <a
                                        href="">Privacy
                                        Policy</a>,
                                    including <a href="">Cookie
                                        Use</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Login form end -->

</body>

</html>