.control {
    position: relative;
    label {
        margin-bottom: 0.5em;
        font-weight: 500;
    }
    // margin-bottom: 1.5em;
    .form-control {
        padding: 0.5em 0.5em;
        border-radius: 4px !important;
    }
    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1em;
    }
    ::placeholder {
        color: lighten(black, 60%);
    }
    &.center {
        text-align: center !important;
    }
}
