@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$primary: #2a49f8;
$secondary: #142155;
$white: #ffffff;
$black: #000000;
$info: #00ddfc;
$warning: #f37022;
$bg: #ededed;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    // "success": $success,
    "info": $info,
    "warning": $warning,
    // "danger": $danger,
    "light": $white,
    "dark": $black,
);
@import "../bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif !important;
    background: var(--bg);
}

::-webkit-scrollbar {
    width: 10px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
