@import "../../mixins/mixins.scss";
.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--primary-dark);
    z-index: 801;
    padding: 0 2em;
    span {
        margin: 0 0.5em;
    }
    @include for-size(phone-only) {
        justify-content: space-between !important;
    }
    &__logo {
        width: 120px;
    }
    &__user-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--bg-2);
    }
    &__menu-button {
        background: transparent;
        border: none;
        outline: none;
        .bar {
            width: 30px;
            height: 3px;
            background-color: var(--white);
            margin: 0.4em 0;
        }
    }
}

.app-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    z-index: 801;
    padding: 0 2em;
    display: none;
    @include for-size(phone-only) {
        display: flex;
    }
    & > span > i {
        color: lighten(black, 60%);
        &.active {
            color: var(--black) !important;
        }
    }
}

.app-sub-header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    z-index: 801;
    padding: 0 2em;
    overflow-x: auto;
    &__item {
        padding: 0.5em 2em;
        background-color: var(--white);
        color: var(--black);
        border-radius: 2em;
        margin-right: 1em;
        font-size: 12px;
        font-weight: 600;
        clear: both;
        display: inline-block;
        white-space: nowrap;
        &.active {
            background-color: var(--primary) !important;
            color: var(--white) !important;
        }
    }
}
